body {
	background-color: black;
	color: silver;
	font-family: monospace;
	margin-right: 19rem;
}

h1, h2, h3, h4, h5, h6 {
	color: seagreen;
}

a {
	color: dodgerblue;
	text-decoration: none;
}

a:hover {
	color: skyblue;
}

div.top {
	position: fixed;
	right: 0;
	top: 0;
	width: 10em;
	text-align: center;
}

div.top h1 {
	font-size: xx-large;
	border-bottom: 1px solid seagreen;
	margin-bottom: 0;
}

div.top h1 a {
	color: coral;
}

div.top ul {
	margin: 0;
	padding: 0;
}

div.top ul li {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding-top: .5rem;
	padding-right: .5rem;
	width: 100%;
}

div.bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	width: 10rem;
	text-align: right;
	padding: .5rem;
}

.green {
	color: seagreen;
}

div.notice {
	color: seagreen;
	padding: 1rem;
}

div.notice span {
	color: yellow;
}

progress[value] {
	width: 3rem;
	height: 1rem;
}

div.replay-div {
	display: none;
	white-space: pre-wrap;
}

div.replay-div-visible {
	display: block;
}

textarea {
	width: 40rem;
	height: 20rem;
}

ul {
	list-style: none;
}

.control {
	font-size: x-large;
}
