<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ReWoT</title>
	<link rel="stylesheet" href="/static/rewot.css" type="text/css">
</head>

<body>
	<div class="top">
		<h1><a href="/">ReWoT</a></h1>
		<ul>
			<li><a href="/submit">submit</a></li>
			<li><a href="/help">help</a></li>
		</ul>
	</div>


	<main id="main">

		<h2>Help</h2>

		<p>ReWoT is a mud log replaying kind of thing.

		<p>Clients supported are Mudlet and TinTin++. ZMud and CMud may be supported in the future.

		<p>Mudlet users can upload a replay.

		<p>TinTin++ users can use this to save the log with timestamps and upload it here:

		<pre><code>
#event {RECEIVED LINE} {#format line {%U %0} {%0};#line log rewot.log {$line}}
#event {SEND OUTPUT} {#format line {%U %0} {%0};#line log rewot.log {$line}}
		</code></pre>


	</main>

</body>

</html>
