<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>ReWoT</title>
	<link rel="stylesheet" href="/static/rewot.css" type="text/css">
	<link rel="stylesheet" href="/static/ansi2html.css" type="text/css">
	<link rel="stylesheet" href="/static/fontello/css/fontello.css" type="text/css">
</head>

<body>
	<div class="top">
		<h1><a href="/">ReWoT</a></h1>
		<ul>
			<li><a href="/submit">submit</a></li>
			<li><a href="/help">help</a></li>
		</ul>
	</div>

	<div class="bottom">
		<ul>
			<li>
				<a class="control" title="Rewind" href="#" onclick="return reverse();">⏪︎</a>
				<a id="play_pause" title="Play/Pause" class="control" href="#" onclick="return play_pause();">⏵︎</a>
				<a class="control" title="Fast Forward" href="#" onclick="return forward();"> ⏩︎</a>
			<li>
				<a class="control" title="Slow down" href="#" onclick="return slow_down();">⏷︎</a>
				<small>x</small><span id="speed" title="Speed">1</span>
				<a class="control" title="Speed up" href="#" onclick="return speed_up();">⏶︎</a>
			<li>
				#
				<span id="lineno" title="Line number"></span>
				/
				<span id="num_lines" title="Number of lines"></span>
			<li><progress id="progress" title="Progress" max="0" value="0"></progress>
		</ul>
	</div>

	<main id="main">


	</main>

	<script src="/static/rewot.js"></script>
	<script>load_log("/replays/{{ replayid }}");</script>
</body>

</html>
